<!DOCTYPE html> 
<html>
<head> 
    <meta charset="utf-8" />
    <title>Tray Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <!-- libs -->
    <script src="lib/moment.js"></script>
    <!-- our stuff -->
    <script src="tracker.js"></script>
    <script src="form.js"></script>
    <script src="seeds.js"></script>
    <script src="trays.js"></script>
    <script src="tasks.js"></script>
    
    <script type="text/template" id="template-tray">
        <li id="tray{{id}}">
            <div style="font-size:20pt">{{name}}</div>
            <div>Seed: {{seedName}}</div>
            <div>Day: {{currentDay}}</div>
            <div>Stage:  {{stage}}</div>
            <div style="margin-top: 4px;">
                <button onclick="Tracker.trays.removeTray({{tray.id}})">Remove</button>
                <button onclick="Tracker.trays.editTray({{tray.id}})">Edit</button>
            </div>
        </li>
    </script>

    <script type="text/template" id="template-task">
        <li id="task{{id}}">
            <div style="font-size:20pt">{{name}}</div>
            <div>Seed: {{seedName}}</div>
            <div>Day: {{currentDay}}</div>
            <div>Stage:  {{stage}}</div>
            <div style="margin-top: 4px;">
                <button onclick="Tracker.trays.removeTray({{tray.id}})">Remove</button>
                <button onclick="Tracker.trays.editTray({{tray.id}})">Edit</button>
            </div>
        </li>
    </script>
</head>

<body>
    <div class="page">
        <div class="viewButons">
            <button onclick="Tracker.setView('traysView')">Trays</button>
            <button onclick="Tracker.setView('tasksView')">Tasks</button>
            <button onclick="Tracker.setView('addTray')">New Tray</button>
            <button onclick="Tracker.setView('addSeed')">Add Seed</button>
        </div>
        <div class="content">
            <div class="traysView">
                <h3>Trays View</h3>
                <ul class="items"></ul>
            </div>
            
            <div class="hide tasksView">
                <h3>Tasks View</h3>
                <ul class="items"></ul>
            </div>
            
            <div class="hide addTray">
                <h3>Add Tray</h3>
                <form>
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name">
                
                    <label for="seed">Seed:</label>
                    <select name="seed" id="seed"></select> 
                </form>
                <div class="msg hide"></div>
                <button onclick="Tracker.trays.addTray()">Save</button>
                <button onclick="Tracker.form.clearForm('.addTray')">Reset</button>
            </div>

            <div class="hide addSeed">
                <h3>Add Seed</h3>
                <form action="#">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name">
                
                    <label>PreSoak:</label>
                    <input type="number" value="0" name="presoak" id="presoak" min="0" max="5">

                    <label>Germination:</label>
                    <input type="number" value="3" name="germination" id="germination" min="1" max="8">
                
                    <input type="checkbox" style="margin-left:10px;" name="stack" id="stack"/>
                    <label style="margin-left:25px; margin-bottom:auto;">Stack</label>

                    <label>Light:</label>
                    <input type="number" value="5" name="grow" id="grow" min="3" max="15">
                
                    <label>Water Mod</label>
                    <input type="number" value="1" name="waterMod" id="waterMod" step=".1" max="2" min=".5">
                
                </form>
                <div class="msg hide"></div>
                <button onclick="Tracker.seeds.addSeed()">Save</button>
                <button onclick="Tracker.form.clearForm('.addSeed')">Reset</button>
            </div>
        </div>
    </div>
</body>

</html>