input[type=checkbox] {
    transform: scale(2);
    -ms-transform: scale(2);
    /* -webkit-transform: scale(2); */
    /* padding: 10px; */
}

.content { 
    padding-top: 10px;
}

.content input, .content select {
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 5px;
    width: 200px;
}

.content h3 {
    padding-left: 10px;
}

.content > div {
    background-color: rgba(0, 0, 0, .1);
    border:3px solid black;
    min-height:100px;
}
.content form {
    align-items: center;
    background-color: rgba(255, 0, 0, .05);
    display:grid;
    grid-template-columns: 100px 100px;
    padding: 10px;
}
.content > div.tasksView {
    background-color: rgba(0, 0, 255, .05);
}
.content > div.addTray {
    background-color: rgba(255, 183, 0, .05);
}
.content button {
    font-size: 24px;            
}
.content .msg {
    color:white;
    font-size: 20px;
}
.content .msg.err {
    border: 1px solid rgb(200,0,0);
    background-color:rgb(150,0,0); 
}
.content .msg.ok {
    border: 1px solid rgb(0,200,0);
    background-color: rgb(0,150,0);  
}

.content .traysView li, 
.content .tasksView li {
    font-size: 20px;    
    padding: 5px 0;
}


.hide {
    display:none;
}
